statemachine/combine_log_files.asl.yaml
Comment: A state machine that combines log files.
StartAt: Static Setup
States:
    Static Setup:
        Type: Pass
        Parameters:
            bucket_name: '${ControlTowerBucketName}'
            ct_log_types:
                - CloudTrail
                - CloudTrail-Digest
                - Config
            bucket_names: '${OtherBucketNames}'
        Next: Dynamic Setup

    Dynamic Setup:
        Type: Task
        Resource: '${DynamicSetupFunctionArn}'
        Retry:
            -
                ErrorEquals:
                    - States.Timeout
                    - Lambda.ServiceException
                    - Lambda.AWSLambdaException
                    - Lambda.SdkClientException
            -
                ErrorEquals:
                    - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 100
                BackoffRate: 5
        Next: Process Main Log Types

    Process Main Log Types:
        Type: Map
        ItemsPath: $.ct_log_types
        MaxConcurrency: 0
        Parameters:
            bucket_name.$: $.bucket_name
            date.$: $.date
            log_type.$: $$.Map.Item.Value
        ResultPath: null
        Iterator:
            StartAt: Get Control Tower Account IDs
            States:
                Get Control Tower Account IDs:
                    Type: Task
                    Resource: '${GetControlTowerAccountIDsFunctionArn}'
                    ResultPath: $.account_prefixes
                    Retry:
                        -
                            ErrorEquals:
                                - States.Timeout
                                - Lambda.ServiceException
                                - Lambda.AWSLambdaException
                                - Lambda.SdkClientException
                        -
                            ErrorEquals:
                                - Lambda.TooManyRequestsException
                            IntervalSeconds: 1
                            MaxAttempts: 100
                            BackoffRate: 5
                    Next: Process Accounts
                    
                Process Accounts:
                    Type: Map
                    ItemsPath: $.account_prefixes
                    MaxConcurrency: 10  # The number of accounts processed at a time
                    Parameters:
                        bucket_name.$: $.bucket_name
                        log_type.$: $.log_type
                        date.$: $.date
                        account_prefix.$: $$.Map.Item.Value
                    ResultPath: null
                    Iterator:
                        StartAt: Get Used Regions
                        States:
                            Get Used Regions:
                                Type: Task
                                Resource: '${GetRegionsFunctionArn}'
                                ResultPath: $.region_prefixes
                                Retry:
                                    -
                                        ErrorEquals:
                                            - States.Timeout
                                            - Lambda.ServiceException
                                            - Lambda.AWSLambdaException
                                            - Lambda.SdkClientException
                                    -
                                        ErrorEquals:
                                            - Lambda.TooManyRequestsException
                                        IntervalSeconds: 1
                                        MaxAttempts: 100
                                        BackoffRate: 5
                                Next: Get Main Log Files

                            Get Main Log Files:
                                Type: Task
                                Resource: '${GetExactFilesFunctionArn}'
                                ResultPath: $.files
                                Retry:
                                    -
                                        ErrorEquals:
                                            - States.Timeout
                                            - Lambda.ServiceException
                                            - Lambda.AWSLambdaException
                                            - Lambda.SdkClientException
                                    -
                                        ErrorEquals:
                                            - Lambda.TooManyRequestsException
                                        IntervalSeconds: 1
                                        MaxAttempts: 100
                                        BackoffRate: 5
                                Next: Determine Main Log Archive Key

                            Determine Main Log Archive Key:
                                Type: Task
                                Resource: '${DetermineArchiveKeyFunctionArn}'
                                ResultPath: $.key
                                Retry:
                                    -
                                        ErrorEquals:
                                            - States.Timeout
                                            - Lambda.ServiceException
                                            - Lambda.AWSLambdaException
                                            - Lambda.SdkClientException
                                    -
                                        ErrorEquals:
                                            - Lambda.TooManyRequestsException
                                        IntervalSeconds: 1
                                        MaxAttempts: 100
                                        BackoffRate: 5
                                Next: Combine Main Log Files


                            Combine Main Log Files:
                                Type: Task
                                Resource: '${CombineLogFilesFunctionArn}'
                                ResultPath: $.combineMainLogsResult
                                Retry:
                                    -
                                        ErrorEquals:
                                            - States.Timeout
                                            - Lambda.ServiceException
                                            - Lambda.AWSLambdaException
                                            - Lambda.SdkClientException
                                    -
                                        ErrorEquals:
                                            - Lambda.TooManyRequestsException
                                        IntervalSeconds: 1
                                        MaxAttempts: 100
                                        BackoffRate: 5
                                Next: Check If More Files To Combine

                            Check If More Files To Combine:
                                Type: Choice
                                Choices:
                                    - Variable: $.combineMainLogsResult.continuationMarker
                                      IsPresent: true
                                      Next: Combine Main Log Files
                                Default: Delete Main Log Originals


                            Delete Main Log Originals:
                                Type: Task
                                Resource: '${DeleteOriginalsFunctionArn}'
                                ResultPath: null
                                Retry:
                                    -
                                        ErrorEquals:
                                            - States.Timeout
                                            - Lambda.ServiceException
                                            - Lambda.AWSLambdaException
                                            - Lambda.SdkClientException
                                    -
                                        ErrorEquals:
                                            - Lambda.TooManyRequestsException
                                        IntervalSeconds: 1
                                        MaxAttempts: 100
                                        BackoffRate: 5
                                End: true
                    End: true
        Next: Process Other Logs


    Process Other Logs:
        Type: Map
        ItemsPath: $.bucket_names
        MaxConcurrency: 10
        Parameters:
            bucket_name.$: $$.Map.Item.Value
            date.$: $.date
        ResultPath: null
        Iterator:
            StartAt: Get Other Log Files
            States:
                Get Other Log Files:
                    Type: Task
                    Resource: '${GetFilesFunctionArn}'
                    ResultPath: $.files
                    Retry:
                        -
                            ErrorEquals:
                                - States.Timeout
                                - Lambda.ServiceException
                                - Lambda.AWSLambdaException
                                - Lambda.SdkClientException
                        -
                            ErrorEquals:
                                - Lambda.TooManyRequestsException
                            IntervalSeconds: 1
                            MaxAttempts: 100
                            BackoffRate: 5
                    Next: Determine Archive Key

                Determine Archive Key:
                    Type: Task
                    Resource: '${DetermineArchiveKeyFunctionArn}'
                    ResultPath: $.key
                    Retry:
                        -
                            ErrorEquals:
                                - States.Timeout
                                - Lambda.ServiceException
                                - Lambda.AWSLambdaException
                                - Lambda.SdkClientException
                        -
                            ErrorEquals:
                                - Lambda.TooManyRequestsException
                            IntervalSeconds: 1
                            MaxAttempts: 100
                            BackoffRate: 5
                    Next: Combine Log Files


                Combine Log Files:
                    Type: Task
                    Resource: '${CombineLogFilesFunctionArn}'
                    ResultPath: $.combineMainLogsResult
                    Retry:
                        -
                            ErrorEquals:
                                - States.Timeout
                                - Lambda.ServiceException
                                - Lambda.AWSLambdaException
                                - Lambda.SdkClientException
                        -
                            ErrorEquals:
                                - Lambda.TooManyRequestsException
                            IntervalSeconds: 1
                            MaxAttempts: 100
                            BackoffRate: 5
                    Next: Check If More

                Check If More:
                    Type: Choice
                    Choices:
                        - Variable: $.combineMainLogsResult.continuationMarker
                          IsPresent: true
                          Next: Combine Log Files
                    Default: Delete Originals


                Delete Originals:
                    Type: Task
                    Resource: '${DeleteOriginalsFunctionArn}'
                    ResultPath: null
                    Retry:
                        -
                            ErrorEquals:
                                - States.Timeout
                                - Lambda.ServiceException
                                - Lambda.AWSLambdaException
                                - Lambda.SdkClientException
                        -
                            ErrorEquals:
                                - Lambda.TooManyRequestsException
                            IntervalSeconds: 1
                            MaxAttempts: 100
                            BackoffRate: 5
                    End: true
        End: true
